/* cuprum-regular - latin */
@font-face {
  font-weight: 400;
  font-family: Cuprum;
  font-style: normal;
  src: url('shared/assets/fonts/cuprum-v25-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

/* cuprum-700 - latin */
@font-face {
  font-weight: 700;
  font-family: Cuprum;
  font-style: normal;
  src: url('shared/assets/fonts/cuprum-v25-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
